.bg-secrettrio {
    background-color: rgb(0, 196, 111);
    color:rgb(161, 255, 180) 
}
.bg-favoritegame.html {
    background-color: rgb(0, 140, 255) ;
    color:rgb(180, 220, 255)
}
.bg-Favoritetvshows.html{
    background-color: rgb(255, 0, 128);
    color: rgb(116, 0, 58)
}
.bg-Languages.html{
    background-color: rgb(101, 0, 210);
    color:rgb(40, 0, 79)
}
.bg-hurricanenames.html {
    background-color: rgb(255, 136, 0);
    color:rgb(160, 115, 0)
    
}
#navbar 
li a {
        display: block;
        color: rgb(160, 3, 79);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #navbar > a {
        color:#69e1ff;
        padding: 24px;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
       }
  #navbar > a:hover {
      background-color:rgb(98, 0, 255);
      
  }
 
