.bg-secrettrio {
    background-color: rgb(0, 255, 145);
}
.bg-favoritegame.html {
    background-color: rgb(0, 140, 255) ;
}
.bg-Favoritetvshows.html{
    background-color: rgb(255, 0, 128);
}
.bg-Languages.html{
    background-color: rgb(110, 0, 254);
}
.bg-hurricanenames.html {
    background-color: rgb(255, 136, 0);
    
}
